<%- include("partials/header1") %>
<h1 class="text-center"><%=place.namelocation%></h1>
    <div class="container">
        <div class="row d-flex justify-content-center" >
            <div class="d-flex justify-content-center col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <img height="300px" width="300px" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-radius: 15px;"  src="<%=place.image%>">
            </div>

            <div style="max-width:90%; background-color: #d9e4f5;
            background-image: linear-gradient(315deg, #d1dff5 0%, #f7d9de 74%); box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-radius: 15px;" class=" mt-5 mt-sm-5 mt-md-5 mt-lg-0 mt-xl-0 col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
                <h4 class="profilefont d-flex justify-content-start"><b>Name:    </b><%= place.namelocation%></h4>
                <h4 class="profilefont d-flex justify-content-start"><b>City:   </b><%=place.city%></h4>
                <h4 class="profilefont d-flex justify-content-start"><b>State:   </b><%=place.state%></h4>
                <h4 class="profilefont d-flex justify-content-start"><b>Points:  </b><%=place.points%></h4>
                <h4 class="profilefont d-flex justify-content-start"><b>Latitude:</b><%=place.latitude%></h4>
                <h4 class="profilefont d-flex justify-content-start"><b>Longitude:</b><%=place.longitude%></h4>
            </div>
        </div>
        <div class="row d-flex justify-content-center"style="margin-bottom:100px; margin-top:40px">
            <a href="../check/<%= place.uniquename%>"><button class="btn bgc text-white">Add Points For this Location</button></a>
        </div>
    </div>
<%- include("partials/footer1") %>