<%- include("partials/header1") %>
<b><h3><%=place.name %></h3></b> <h3>is located in</h3>  <b><h3><%=place.city %></h3></b><h3>city of </h3><b><h3><%=place.state%></h3></b><h3>.</h3>
<div><img src="<%=place.image%>"></div>
<%- include("partials/footer1") %>
