<%- include("partials/header1") %>

<% if(currentUser.visited.includes(data.returned.uniquename)){%>
    <div class="container ">
        <div><h1 ><%=data.returned.namelocation%></h1></div>
        <div class="row d-flex justify-content-center">
            <img  class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" src="<%=data.returned.image%>">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                
                <div><h4 id="destlat"><%=data.returned.namelocation%>'s LATITUDE : <%=data.returned.latitude%></h4></div>
                <div><h4 id="destlong"><%=data.returned.namelocation%>'s LONGITUDE : <%=data.returned.longitude%></h4></div>
                <div><h4 id="mylatitude">Your LATITUDE : <%=data.mylatitude%></h4></div>
                <div><h4 id="mylongitude">Your LONGITUDE : <%=data.mylongitude%></h4></div>
                <div><h4 id="distance">Your DISTANCE  : <%=data.distance%></h4></div>
                
            </div>
        </div>
    </div>
    <h4 style="margin-bottom:100px; margin-top:10px;"class="text-center">You Have Already visited this one !! Please try some other...</h4>
    
    <%} else {%>
        
        <div class="container ">
            <div><h1 ><%=data.returned.namelocation%></h1></div>
            <div class="row d-flex justify-content-center">
                <img style="width:350 px;height:150 px;" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" src="<%=data.returned.image%>">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    
                    <div><h4 id="destlat"><%=data.returned.namelocation%>'s LATITUDE : <%=data.returned.latitude%></h4></div>
                    <div><h4 id="destlong"><%=data.returned.namelocation%>'s LONGITUDE : <%=data.returned.longitude%></h4></div>
                    
                    <div><h4 class="text-center">Congo!! You are eligible to grab points!!</h4></div>
                </div>
            </div>
            <div></div>
            <div><h5 class="text-center">(!!You Will be logged out once points are added!!)</h5></div>
        </div>
        <div class="row d-flex justify-content-center">
        <form id="autosubmit" action="/addpoints" method="POST">
            <input type="hidden"  id="username"   name="username"   value="<%=currentUser.username%>">
            <input type="hidden"  id="uniquename" name="uniquename" value="<%=data.returned.uniquename%>">
            <input type="hidden"  id="points"     name="points"     value="<%=data.returned.points%>">
            <button  style="margin-bottom: 100px;"type="hidden" id="sbmt" class="btn btn-success" value="Add Points">Add Points</button>
        </form>
    </div>
        <script>
            var c=0;
        document.getElementById("mylatitude").setAttribute("value",<%-data.mylatitude%>);
        document.getElementById("mylongitude").setAttribute("value",<%-data.mylongitude%>);
        document.getElementById("distance").setAttribute("value",<%-data.distance%>);
        if(c==0)
        {
            document.getElementById("sbmt").setAttribute("type","submit");
            c++;
        }
        </script>
    <%}%>
<%- include("partials/footer1") %>